/* Accessibiliy Notes n/a*/

body {
  font-family: Arial, Helvetica, sans-serif, 'Times New Roman', serif;
  color: white;
  background-color: blue;
}

p {
  color: red;
  font-style: italic;
}


h1, h3, h4 {
  color: red;
  text-align: center;
}

a {
  padding: 10px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  color: white;
}

/* Navigation bar link */
nav a {
  display: inline; /* don't want in block */
  padding: 10px;
}

/* Navigation bar */
nav {
  text-align: center;
}

/* Tables */
table {
  margin: 0 auto;
}

html {
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200 200 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td,th {
  border: 1px solid red;
  padding: 10px 20px;
  background-color: rgb(130, 130, 160);
  color: Black;
}

th {
  background-color: red;
  color: white;
}

td {
  text-align: center;
}

caption {
  padding: 10px;
  font-size: large;
}

img {
  width: 150px;
  height: 150px;
}

/*Colors for Political Parties*/
.democrat {
  color: #0066ff;
}
.republican {
  color: #ff0000;
}
.other {
  color: #ffcc00;
}